
.appWrapper{
/* width: 1240px; */
  display: grid;
  grid-template-areas:
    "header "
    "content ";
  grid-template-rows: 60px 1fr;

  background-color: aqua;
}


.appWrapper__content {
  grid-area: content;
  background-color: mediumseagreen;
}